.blog-post-container {
    padding: 10px; 
    margin-bottom: 15px; 
    height: 380px; 
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    
  }

  .post-bg{
    background-color: rgba(104, 137, 255, 0.121);
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out; /* Smooth transitions */
  }

  .post-bg:hover{
    background-color: rgba(104, 137, 255, 0.121);
    transform: scale(1.05); /* Slight zoom on hover */
    border: 2px solid rgba(0, 153, 255, 0.5); /* Blue border with opacity */
  }


  .imageHoverEffect {
    /* Existing image styles */
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out; /* Smooth transitions */
  }
  
  .imageHoverEffect:hover {
    transform: scale(1.05); /* Slight zoom on hover */
    border: 2px solid rgba(0, 153, 255, 0.5); 
  }
  
  .edit-post-bg{
    background-color: rgba(104, 137, 255, 0.121);
    padding: 20px;
    border-radius: 10px;
  }
  