.filter-bg{
    background-color: rgba(104, 137, 255, 0.121);
    border-radius: 6px;
    height: 500px;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); */
    border-style: groove;

}

.after-filter-bg{
    background-color: white;
    border-radius: 6px;
    padding-bottom: 10px;
    padding: 6px;
    
    
}

.text-justify {
    text-align: justify;
}



/* package page css */

.blog-Breadcrumb-bg{
    background-color: rgba(220, 220, 220, 0.277);
    border-radius: 2px;
    
}

.bokking-form{
    width: 80%;
    background-color: rgb(227, 227, 227);
    border-radius: 6px;
    border-color: black;
    border-width: 1px;
    border-style: outset;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.fee-position{
    margin-left: 200px;
}

.bg-for-user-list{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 6px;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    
  }

  .bg-for-user-tourPlane{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 2px;
    width: 100%;
    box-shadow: 5px 5px 50px #b9b9b9;
  }

  .bg-for-btn{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }

  
  .travelPackage-bg {
    padding: 10px; 
    margin-bottom: 15px; 
    height: 450px; 
    width: 270px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    
  }